.home{
    background: white;
    color: black;
}

.home .title{
    font-size: 3rem;
    font-weight: 300;
    line-height-step: 1.2;
}

.home .subtitle{
    font-size: 1.1rem;
    
}

.subtitle{
    background: white;
    color: black;
}